body {font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(247, 246, 246);
    color: black;
    margin: 0%;
}
header {
    background-color: rgb(19, 4, 105);
    color: rgb(0, 0, 0);
    padding: 15px;
    text-align: left;
}

header h1 { margin: 0%;
font-size: 2.5em;}
nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;}
nav ul li {
    display: inline-block;
    margin: 0 15px;
}
nav ul li a {
    color: antiquewhite;
    text-decoration: none;
    font-size: 1.2em;
}
nav ul li a:hover {
    color: aqua;
}
main {
    padding: 20px;
    text-align: center;
}
main h2 {
    color: black;
    font-size: 2em;
    margin-top: 0;
}
main p {
    font-size: 1.2em;
}
footer {
    background-color: rgb(3, 3, 104);
    color: antiquewhite;
    text-align: center;
    padding: 4px 0;
    position: fixed;
    width: fixed;
    width: 100%;
    bottom: 0;
}
section {
    text-align: left;
    font-size: 1.1em;
}



